.home { 
    padding: 60px;
    background-image: url('../background/hp-water1.jpg');
    background-size: cover;
    position: fixed; 
    /* top: 0; 
    left: 0;  */
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
 
}

.home p {
    margin-bottom :0px
}

.home .a { text-align: right;}

.home .jumbotron {
    margin-top: 120px;
    background-color: #fff;
    background-color: rgba(255,255,255,0.9)
}

.home .jumbotron h1{
    color: black;
}

.home .jumbotron .lead {
    color: black;
}

.home .jumbotron .size22 {
    color: grey;
    font-size: 22px;
}

