.profile-page {
    padding: 50px;
    background-image: url('../background/room-sketch.jpg');
    background-size: cover;
    min-height: 730px;
    color: black;
    font-size: 20px
}

.profile-page .card { padding: 20px}
