body, html {
background-color: white;
    /* position: fixed;  */
    /* top: 0; 
    left: 0;  */
      /* display: flex; */
    /* Preserve aspet ratio */
    min-width: 100%;
    /* min-height: ".text_right"; */
 /* min-height: 100px; */

}
body, .text-right {
min-height:100%;


}

.text-right {
float: right;
width: 70%;
background-color: rgb(233, 203, 165);
/* overflow:auto; */
/* height:100%; */
color: black;

}
.text-left {
    float: left;
    width: 30%;
    height: 650px;
    background-color: rgb(233, 203, 165);
    position: fixed;
    
    }

#colors {

    background-color: black;
}
    /* The sticky class is added to the header with JS when it reaches its scroll position */
   