.s3dots {
    left: 115px;
    bottom: 90px;
    max-width: 20px;
    max-height: 20px;
    background-image: radial-gradient(circle, black 5px, transparent 5px);
    background-size: 100% 33.33%;
    position: relative;
}