.texter {
    color: black;
  }

.board-page {
    margin: 0px;
    background-image: url('../background/city.jpg');
    background-size: cover;
    position: fixed; 
    /* top: 0; 
    left: 0;  */
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
.board-page .card-deck {
  padding: 30px;
  flex-flow: row;
  overflow-x: auto;
}

.board-col-css {
  background-color: none;
}

.board-page .card-deck .card {
  margin: 0px 5px 0px 5px
}

.board-col { min-width: 300px !important; max-width: 300px !important; max-height: 660px; background-color: transparent}

.board-box { background-color: #EBECF0; padding: 10px}
.board-box .card-title { margin: 0px}
.board-box .add-board {width: 300px}
.board-box .texter { max-height: 550px; } 
.board-box .texter div { padding-top: 7px}
.board-box .texter div button { background-color: #ffffff; text-align: left}
.board-box .text-muted { border: 0px; text-align: left;}

.custom-select {background-color: transparent;}

#dropdown-basic { padding: 10px; }
.dropdown-menu { font-family: 'Neucha'; } 
.icon-btn {text-align: right;}
.icon-btn .fav-box { margin: 0px; border: 0px; min-width: 300px}

.b-nav { padding: 10px 30px 0px 30px;}
