.cardButton {
    background-color: white;
}
.cardButton .icon-css {
    padding: 0px
}
.text-center { text-align: center;}
.btn-add-card { padding: 15px 0px 0px 0px; }
.btn-add-card .btn { font-size: 16px; margin: 0px; border: 0px; text-align: left}
.icon-btn { border-color:white; border: 0px !important}
.dropright { text-align: center;}
.sizer {

width:30px !important;
background: transparent !important;
border-color: transparent !important;
font-size: 50px !important;
}
.sizers {

    max-width:30px !important;
    position: center !important;
   
    }