#icon-box{
    background-color: #8b99b1;
    overflow:auto;
    /* float: left; */
    height: 550px;
    
}
/* img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
  } */

#fav-box{
    background: #8b99b1;
    overflow:auto;
    /* float: center; */
    height: 550px;
}


.lol{ background:#8b99b1  }

