.icon-page {
    padding: 50px;
    margin: 0px 0px 0px 0px;
    background-image: url('../background/room-sketch.jpg');
    background-size: cover;
    position: fixed; 
    /* top: 0; 
    left: 0;  */
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
 
    color: black
    
}

.icon-box{
    padding: 20px;
    overflow: auto;
    height: 550px;
    margin: 50px;
    color: black
}

#iconcss {
    padding: 15px;
    width:100px
}

div.col-md-4.col-12{
    text-align: center;
    padding: 0px;
}

.fav-box{
    padding: 20px;
    overflow:auto;
    height: 550px;
    margin: 50px
}
.icon-page .top-trash {
    min-height: 250px;
}

.trash-can {

}
